    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    body {
        padding: 0 40px;
        background-color: rgba(202, 220, 44, 0.763);
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    body>div {
        display: flex;
        flex-direction: column;
        gap: 60px;
        width: 100%;
        
    }
    body>div>div{
            width: 100%;
        }

    a {
        text-decoration: none;
        font-size: 50px;
        font-weight: 750;
        line-height: 70px;
        font-family: "Jost", "Poppins", sans-serif;
        position: relative;
        width: 100%;
    }

    a::after {
        bottom: -10px;
        left: 0;
        height: 8px;
        position: absolute;
        content: "";
        width: 0;
        background-color: blue;
        transition: 2s all linear;
    }

    a:hover::after {
        width: 100%;
    }

    @media screen and (max-width: 1800px) {
        .mainlink {
            font-size: 50px;
        }
    }

    @media screen and (max-width: 1700px) {
        .mainlink {
            font-size: 50px;
        }
    }

    @media screen and (max-width: 1600px) {
        .mainlink {
            font-size: 50px;
        }
    }
